<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!--Css files-->
    <link rel="stylesheet" href="static/welcome.css">
    <link rel="stylesheet" href="static/all.min.css">
</head>
<body>
<!--start home page-->
{% block main %}
<div class="left-side">
    <h1>Welcome {{ signup}}</h1>
    <i class="fa-solid fa-circle circke circle"></i>
    <span class="traingle"></span>
    <span class="square"></span>
    <i class="fa-solid fa-circle circke circle2"></i>
    <span class="traingle2"></span>
    <span class="square2"></span>
</div>
{% endblock%}
<!--end home page-->
</body>
</html>